@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);
body,
html {
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background-color: black;
    margin: 0 !important;
    padding: 0 !important;
}

.web-body {
    visibility: hidden;
    z-index: -100;
}

.loader-container {
    display: block;
}


/* Navigation */

nav {
    color: #cdcdcd;
    font-family: 'Source Sans Pro', sans-serif;
    height: 0;
}

#menuToggle {
    display: block;
    position: relative;
    top: 50px;
    left: 50px;
    z-index: 1;
    width: 50vw;
}

#menuToggle a {
    text-decoration: none;
    color: rgb(209, 32, 32);
    transition: color 0.3s ease;
}

#menuToggle ul a:hover {
    color: rgb(44, 206, 198);
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    /* Investigar mas cubic bezier*/
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: rgba(255, 255, 255, 0.815);
    border-radius: 4px;
    list-style-type: none;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}

#menuToggle input:checked~ul {
    transform: none;
}


/* Parallax */

.parallax-container {
    position: relative;
    display: block;
    background-color: black;
    height: 100vh;
    width: 100%;
    z-index: -11;
}

#parallax {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#parallax .title {
    padding: 10px;
    text-align: center;
    color: black;
    text-shadow: 2px 2px 3px #eee, 6px 6px 2px teal, -6px -3px 2px red;
    font-size: 200px;
    top: 30%;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    z-index: 0;
    animation: glitch 4s ease-in-out infinite;
}

#parallax .layer {
    width: 100%;
    height: 100vh;
}

#parallax .layer-1 {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: black;
    z-index: -4;
}

#parallax .layer-2 {
    position: absolute;
    top: 0;
    bottom: 0;
    background-image: url("../assets/parallax1.png");
    background-repeat: repeat;
    animation: parallax-movement 5s linear infinite;
    z-index: -3;
}

#parallax .layer-3 {
    position: absolute;
    top: 0;
    bottom: 0;
    background-image: url("../assets/parallax1.png");
    background-repeat: repeat;
    animation: parallax-movement 10s linear infinite;
    z-index: -2;
}

@keyframes parallax-movement {
    0% {
        background-position-y: 0
    }
    100% {
        background-position-y: 854px;
    }
}

@keyframes glitch {
    0%,
    40%,
    44%,
    58%,
    61%,
    65%,
    69%,
    73%,
    100% {
        transform: skewX(0deg);
    }
    41% {
        transform: skewX(10deg);
    }
    42% {
        transform: skewX(-10deg);
    }
    59% {
        transform: skewX(40deg) skewY(10deg);
    }
    60% {
        transform: skewX(-40deg) skewY(-10deg);
    }
    63% {
        transform: skewX(10deg) skewY(-5deg);
    }
    70% {
        transform: skewX(-50deg) skewY(-20deg);
    }
    71% {
        transform: skewX(10deg) skewY(-10deg);
    }
}


/* Countdown*/

.countdown {
    /* margin-top: -350px; */
    color: white;
    position: relative;
    background-color: black;
    width: 100%;
    height: 300px;
    font-size: 70px;
    display: none;
}

.countdown h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    margin-top: 0;
    margin-bottom: 0;
    text-shadow: -4px -1px 0px #fdee00, 4px 2px 0px #21abcd, 2px -2px 0px #ff2052;
}

.countdown p {
    position: absolute;
    font-size: 30px;
    top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    margin-top: 0;
    margin-bottom: 0;
    text-shadow: -1px -1px 0px #fdee00, 1px 2px 0px #21abcd, 1px -2px 0px #ff2052;
}

.countdown p span {
    padding: 0 30px;
}


/* End Countdown */


/* Animated Components */

.container {
    display: block;
    background-color: black;
    position: relative;
    height: 90vh;
}

.hidden {
    visibility: hidden;
}

#movie-description {
    position: absolute;
    display: none;
    visibility: visible;
    background-color: transparent;
    border: 1px solid white;
    top: 10vh;
    left: 5vw;
    width: 45vw;
    height: 30vh;
    transition: all 1s ease-in;
    animation: components 3s ease-in-out;
    animation-iteration-count: 1;
    border-radius: 15px;
    box-shadow: -6px -1px 0px #fdee00, 6px 2px 0px #21abcd, 5px -2px 0px #ff2052;
}

#movie-description p {
    text-align: left;
    padding: 1em;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
}

#curious-facts p {
    text-align: right;
    padding: 1em;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
}

#curious-facts {
    position: relative;
    display: none;
    float: right;
    visibility: visible;
    background-color: transparent;
    border: 1px solid white;
    top: 50vh;
    right: 5vw;
    width: 45vw;
    height: 30vh;
    animation: components 3s ease-in;
    border-radius: 15px;
    box-shadow: -7px -1px 0px #fdee00, 6px 2px 0px #21abcd, 5px -2px 0px #ff2052;
}


/* End Animated Components*/


/* Characters */

.characters {
    display: none;
    background-image: url("../assets/characters-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    perspective: 1000px;
}

.characters span {
    position: absolute;
    top: 80%;
    left: 35%;
    color: white;
    font-size: 40px;
    text-shadow: 3px 1px 0px #21abcd, 2px -2px 0px #ff2052;
    transform-style: preserve-3d;
    transform: translateZ(130px);
    background-color: rgba(255, 255, 255, 0.24);
}

.characters .char-1,
.char-2 {
    width: 30%;
    height: 600px;
    display: inline-block;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateZ(-50px);
    transition: all 0.09s ease-in;
    box-shadow: 0 0 50px -20px #fff;
    border-radius: 20px;
    transform-style: preserve-3d;
}

.char-1 {
    margin-left: 10vw;
    background: url("../assets/sal.jpeg");
}

.char-2 {
    float: right;
    margin-right: 10vw;
    background: url("../assets/the-girl.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* End Characters */


/* Carousel  */

.carrousel {
    position: relative;
    display: none;
    height: 700px;
    background-color: black;
}

.slidershow {
    width: 1200px;
    height: 600px;
    overflow: hidden;
    border-radius: 8px;
}

.middle {
    /* Esto es para posicionarlo en el medio */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navigation {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.bar {
    width: 30px;
    height: 8px;
    border: 2px solid white;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}

.bar:hover {
    background: white;
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 500%;
    height: 100%;
    display: flex;
}

.slide {
    width: 20%;
    transition: 0.6s;
}

.slide img {
    width: 100%;
    height: 100%;
}

#r1:checked~.s1 {
    margin-left: 0;
}

#r2:checked~.s1 {
    margin-left: -20%;
}

#r3:checked~.s1 {
    margin-left: -40%;
}


/* Animaciones de entrada de componentes*/

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes enter-right {
    0% {
        transform: translateX(-100vw);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes enter-left {
    0% {
        transform: translateX(100vw);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}