.bg-picture {
    background-image: url(../images/fondo.png);
}

.inicio {
    display: block;
    padding-right: 16px;
}

.canvas {
    margin: auto;
}

.hidden {
    display: none;
}

.shown {
    display: block !important;
}